################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Shojaee/.vs/Shojaee
/Shojaee/Shojaee/bin/Debug/net9.0
/Shojaee/Shojaee/obj
